#new_user {
  width: 40%;
  margin: 0 auto;
}

.login-container {
  margin: 0 auto;
  width: 50vw;

  h2 {
    text-align: center;
    margin-top: 54px;
    margin-bottom: 46px;
  }

  .btn {
    width: 100%;
  }

  // .form-control {
  //   width: 80%;
  // }
}
